

body{
    background-color: #f8f9fa;
    font-family: 'fira sans',Helvetica,sans-serif;
    font-weight: 300;
    margin: 0 auto;
    padding: 1em;
    max-width: 45em;
    line-height: 1.5em;
    letter-spacing: 0.03em;
    box-sizing: border-box;
}
.site-header{
    padding: 30px;
    font-weight: medium;
    font-size: 175%;
    letter-spacing: 1px;
    font-variant: small-caps;
    text-align: center;
}
.site-header a{
    margin: 0;
    padding: 0;
    color: #212529;
    letter-spacing: 2px;
    text-decoration: none;
}
.site-header a:hover{
    text-decoration: none;
    color: #fca311;
}

h1, h2{
    font-size: bold;
    color: #212529;
    text-transform: capitalize;
    text-align: center;
    margin: 24px 0px;
    font-variant: small-caps;
}


a{
    color: #fca311;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-decoration-color: #212529;
}

p{
    color: #212529;
    font-size: medium;
    text-align: center;
    max-width: 75%;
    margin: auto;
}

.site-footer{
width: 100%;
margin-top: 5em;
padding: 1em 0;
border-top: 1px solid #212529;
}
.u-photo{
    width: 5.5em;
    height: 5.5em;  
    margin-right: 0.75em;
    text-align: center;
    border-radius: 50%;
    border: #212529 solid 1px;
    float: left;
}

.p-note{
display: none;
}