---
// Frontmatter script area, where you can import components and define page-level JavaScript
import Avatar from '../components/Avatar.astro';
---

<html>
<head>
<link rel="stylesheet" href="/styles/style.css">
  <title>Casey Shields</title>
</head>
<body>
  <header>
    <Avatar src="/img/profile_square.JPG" alt="Casey Shields" />
    <h1>Casey Shields</h1>
  </header>
  <main>
    <p>Hi. My name is Casey Shields. I am a sergeant at the Contra Costa County Office of the Sheriff assigned to the Special Victims Unit. I am a husband, father, and sailor in the San Francisco Bay. I am also digging into software development. I am happy to meet you.</p>
    <ul>
      <li><a href="https://twitter.com/shieldsworks">Twitter</a></li>
      <li><a href="https://github.com/shieldsworks">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/casey-shields-034309294/">LinkedIn</a></li>
      <!-- Add more links as needed -->
    </ul>
  </main>
</body>
</html>
