---
// Frontmatter script area, where you can import components and define page-level JavaScript
import Avatar from '../components/Avatar.astro';
---

<html>
<head>
<link rel="stylesheet" href="/styles/style.css">
  <title>Casey Shields</title>
</head>
<body>

 <div id="header" class="container">
      <div class="row">
        <div id="avatar">
          <img src="/img/profile_square.JPG" alt="Casey Shields" class="avatar" />
        </div>
        <div id="bio">
          <h1>Casey Shields</h1>
          <h2>I am a sergeant at the Contra Costa County Office of the Sheriff supervising the Special Victims Unit. I am a husband, father, and sailor on the San Francisco Bay.</h2>
          <div id="links">
            <a href="https://www.linkedin.com/in/casey-shields-034309294/"><img src="assets/inconmonstr-linkedin-4.svg" class="social_links"/></a>
            <a href="https://twitter.com/shieldsworks"><img src="assets/ctwitter.svg" class="social_links" /></a>
            <a href="https://github.com/shieldsworks"><img src="assets/cgithub.svg" class="social_links"/></a>
            <a href="https://www.shieldsworks.com"><img src="assets/crss.svg" class="social_links" /></a>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
